<div class="left">

    <!-- Title -->
    <div class="row">
      <label>Title</label>
      <input type="text">
    </div>

    <!-- Description -->
    <div class="row">
      <label>Description</label>
      <textarea></textarea>
    </div>

    <!-- Price -->
    <div class="row">
      <label>Price</label>
      <input type="text">
    </div>

    <!-- Picture -->
    <div class="row">
      <label>Picture</label>
      <input type="text">
    </div>

    <!-- Status -->
    <div class="row">
      <label>Status</label>
      <select>
          <option value="" disabled>Choisir un statut</option>
          <option value="En Ligne">En Ligne</option>
          <option value="Hors Ligne">Hors Ligne</option>
      </select>
    </div>

    <!-- Submit -->
    <div class="row">
        <input type="button" type="submit" value="Envoyer">
      </div>

</div>


<!-- Affichage des annonces -->
<div class="right">
  <div class="ad" *ngFor="let ad of ads">
    <img src="{{ ad.picture }}" class="ad__picture">
    <div class="ad__title">{{ ad.title }}</div>
    <div class="ad__description">{{ ad.description }}</div>
    <div class="ad__price">{{ ad.price }}€</div>
    <div class="ad__status">{{ ad.status }}</div>
  </div>
</div>