:host {
    font-family: Ubuntu, sans-serif;
    display: flex;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    padding: 10px;
}

.row {
    padding: 10px;
    width: 100%;
    input, select {
        width: 100%;
     display: block;
     padding: 0  10px;
    height: 34px;
    line-height: 34px;
    }
    textarea {
        padding: 10px;
        display: block;
        width: 100%;
        min-height: 200px;
    }
}
.ad {
    display: inline-block;
    padding: 15px;
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    font-family: Ubuntu, sans-serif;
    margin-bottom: 15px;
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__description {
      font-size: 16px;
      line-height: 1.5;
      color: #555;
  }
  &__price {
  }
  &__picture {
      float: left;
      margin-right: 15px;
      max-height: 200px;
      max-width: 200px;
  }
  &__status {
      display: inline-block;
      padding: 5px 10px;
      background: rgb(19, 170, 216);
      margin: 15px 0;
      color: white;
  }
}
